body
{
background-color: rgb(135, 147, 202);
margin: 0;
font-family: 'Playfair Display', serif;}

*{
    box-sizing: border-box;
}

body > header
{
    border:5px solid rgba(86, 76, 219, 0.699);

    text-align: center;
    background-color: rgba(135, 147, 202, 0.699);
}

h1
{
    color:rgb(0, 0, 0);
}

nav{
    position:sticky;
    top:0;
}

nav ul
{
    border-top: none;
    margin: 0;
    background-color: rgb(135, 147, 202);
    border: 10px solid rgba(85, 76, 219, 0.699);
    list-style-type:none;
    padding: 30px;
    height:40px;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

li
{
    margin: 10px;
}
nav ul li
{
    background-color: rgb(87, 101, 175);
    border: 5px solid rgb(182, 182, 172);
    margin: 10px;
    padding: 5px 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}
/* Styl elementu po nakierowaniou myszką */

nav ul li:hover
{
background-color: rgb(175, 22, 30);
border-color: rgb(81, 81, 209);
color:rgb(0, 0, 0);
transition: 2s;
}
/* Styl po naciśnieciu */
nav ul li:active
{
background-color: rgb(60, 211, 0);
border-color: rgb(2, 125, 182);
color:rgb(122, 102, 102);
transition: none;
}

.cookies{
border: 5px solid;
position:fixed;
bottom: 0;
width: 100%;
background-color: #00ff9dc5;
display:flex;
justify-content: space-between;
align-items: center;
padding: 10px 10px;

}

button
{
    padding: 5px;
}


